<header class="main-nav">
	<nav class="left-nav">
		<ul>
			<li id="sections-sidebar-btn">
					<i class="fa fa-bars fa-fw" >v</i>
					 <span>sections </span>
			</li>
			<li id="search-modal-btn">
					<i class="fa fa-search fa-fw"></i>
					 <span> search </span>
			</li>
		</ul>
	</nav>
	<nav class="right-nav">
		<ul>
			<li>
				<button class="blue_buttons" id="subscribenow-sidebar-btn">
					SUBSCRIBE NOW
				</button>
			</li>
			<li>
				<button class="blue_buttons" id="login-modal-btn">
					Log In
				</button>
			</li>
			<li class="cog" id="settings">
				<i class="fa fa-cog"></i>
	
			</li>
		</ul>
	</nav>
</header>